---
title: Verification
layout: default
parent: Playing Your Map
nav_order: 3
---
# Verification
Map Verification has many benefits for your map. It allows your map to be loaded in **Verified servers**, and it allows players to gain **XP** and **Medal** rewards when beating the map in said Verified server. Verified maps get their own filter in the Map List, and in general, the system ensures that your map is possible to complete and works properly without breaking the game.

Currently the system is in active development. The only way to get a map verified is to join the TRIA discord server and run `/submit_map` inside a channel like `#bot`, which will submit the map for verification. The command comes with three arguments:

- Map ID 
- A link to a verification video with either you or anyone you choose beating the map
- (OPTIONAL) A file containing a license for audio verification

Once your map is submitted, it should take a week or so for the map to become Verified or be rejected.